on: [push, pull_request]
name: Check, Tests, Lints
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "20"
      - uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm exec playwright install --with-deps chromium
      - run: pnpm test
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "20"
      - uses: pnpm/action-setup@v4
        with:
          version: 10.22.0
          run_install: false
      - run: pnpm install --frozen-lockfile
      - run: pnpm pretty:check
